{% extends 'skeleton.html.twig' %}

{% block title %}Rental Manager - Locaux{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('/css/pages/properties.css') }}">{% endblock %}

{% block content %}
    <div id="properties-content" class="d-flex flex-column p-5">
        <div id="properties-header" class="d-flex justify-content-between align-items-center mb-3">
            <button class="btn" type="button" data-toggle="modal" data-target="#properties-add-modal">AJOUTER UN BIEN</button>
            <h3>LOCAUX</h3>
        </div>
        <div id="properties-body" class="table-responsive-md">
            <table id="properties-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Identification du local</th>
                    <th>Adresse</th>
                    <th>Occupation</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-id-property="">
                    <td>CENTRAL FAC</td>
                    <td>
                        <div class="d-flex flex-column">
                            <span>Résidence Central Fac</span>
                            <span>7 rue des Amaryllis</span>
                            <span>34070 Montpellier</span>
                        </div>
                    </td>
                    <td>Loué depuis 8 mois</td>
                    <td>
                        <div class="d-flex justify-content-center properties-actions">
                            <span class="properties-action">{{ source('@img_path/edit.svg') }}</span>
                            <span class="properties-action">{{ source('@img_path/garbage.svg') }}</span>
                        </div>
                    </td>
                </tr>
                <tr data-id-property="">
                    <td>LA RADIEUSE</td>
                    <td>
                        <div class="d-flex flex-column">
                            <span>Résidence Central Fac</span>
                            <span>7 rue des Amaryllis</span>
                            <span>34090 Montpellier</span>
                        </div>
                    </td>
                    <td>Loué depuis 10 mois</td>
                    <td>
                        <div class="d-flex justify-content-center properties-actions">
                            <span class="properties-action">{{ source('@img_path/edit.svg') }}</span>
                            <span class="properties-action">{{ source('@img_path/garbage.svg') }}</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# MODALES #}
    <div class="modal fade" id="properties-add-modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" id="properties-add-modal-content">
                {% include 'pages/modal.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}<script src="{{ asset('/js/pages/properties.js') }}"></script>{% endblock %}