{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}


{% block stylesheets %}<link rel="stylesheet" href="{{ asset('/css/login.css') }}">{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <h1 class="text-center">Rental Manager</h1>
    </div>

    <div id="absolute-container-forms" class="col-4">
        <div class="container">
            <h2 class="action-title text-center mb-3">INSCRIPTION</h2>
            <form action="{{ path('register') }}" method="post" class="d-flex flex-column justify-content-center">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_widget(form_person.civility) }}

                    </div>
                    <div class="form-group col">
                        {{ form_widget(form_person.lastName) }}
                    </div>
                    <div class="form-group col">
                        {{ form_widget(form_person.firstName) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(form_person.mail) }}
                </div>


                {{ form_widget(form_user) }}
                <div class="form-group d-flex justify-content-end mb-0">
                    <button type="submit" class="btn btn-secondary btn-register pt-1 pb-1 pl-4 pr-4">S'INSCRIRE</button>
                </div>
            </form>
        </div>
    </div>

    <div id="absolute-container-buttons" class="col-4">
        <div class="container">
            <h3 class="text-center">Vous avez déjà un compte utilisateur ?</h3>
            <div class="row d-flex justify-content-center">
                <button type="button" class="btn btn-secondary btn-connection pt-1 pb-1 pl-4 pr-4">CONNEXION</button>
            </div>
        </div>
    </div>

    <div id="static-container" class="container"></div>



    {# A SUPPRIMER ENSUITE #}
{#        <div id="login" class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-3">#}
{#                    &nbsp;#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <h1 class="text-center">Page de connexion</h1>#}

{#                    {% if hasError %}#}
{#                        <div class="alert alert-danger">Une erreur est survenue, l'identifiant ou le mot de passe renseigné n'est pas correct.</div>#}
{#                    {% endif %}#}

{#                    <form action="{{ path('login') }}" method="post">#}
{#                        <div class="form-group">#}
{#                            <input type="text" name="_username" id="login" class="form-control" placeholder="Identifiant" required value="{{ username }}" />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required />#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <button type="submit" class="btn btn-primary">SE CONNECTER</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{% endblock %}